section.contacts#contacts
    .contacts__title-line 
        h2.contacts__title Найдите нас
    .contacts__column 
        iframe(src!="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2305.225250726732!2d20.542346415681223!3d54.705660079726115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e3167acd2f1533%3A0x219d00108b61a456!2sUlitsa%20Yaltinskaya%2C%2020%D0%BF%2C%20Kaliningrad%2C%20Kaliningradskaya%20oblast&#39;%2C%20Russia%2C%20236019!5e0!3m2!1sen!2sil!4v1674597259579!5m2!1sen!2sil",
            width="600",
            height="450",
            style="border: 0",
            allowfullscreen="",
            loading="lazy",
            referrerpolicy="no-referrer-when-downgrade")

        ul.contacts-list
            li.contacts-list__item
                h2 Адрес: 
                p ул. Ялтинская, 2оП Калининград
            li.contacts-list__item
                h2 Часы работы: 
                p Пятница — воскресенье: 12:00–22:00
            li.contacts-list__item
                h2 Билеты: 
                p 300 руб. с человека Приобретаются на месте